<% content_for(:title, "Abi (Ask Before Invest)") %>

<%= render layout: "layout", locals: { wrapper: true, sidebar: false, hide_breadcrumbs: false } do %>

  
<% end %>

<h1>WorkFlow DAI !!!!!!!!!!!!!!!!!, <span>2023-01-29</span></h1>

<div class="flex-parent">
	<div class="input-flex-container">
		<input type="radio" name="timeline-dot" data-description="01">
		<div class="dot-info" data-description="2024-01-29">
			<span class="year">S_01</span>
			<span class="label">Création DAI</span>
		</div>
		<input type="radio" name="timeline-dot" data-description="1920">
		<div class="dot-info" data-description="1920">
			<span class="year">P_01</span>
			<span class="label">Post 1</span>
		</div>
		<input type="radio" name="timeline-dot" data-description="1930" checked>
		<div class="dot-info" data-description="1930">
			<span class="year">P_02</span>
			<span class="label">Post 2</span>
		</div>
		<input type="radio" name="timeline-dot" data-description="1940">
		<div class="dot-info" data-description="1940">
			<span class="year">P_03</span>
			<span class="label">Post 3</span>
		</div>
		<input type="radio" name="timeline-dot" data-description="1950">
		<div class="dot-info" data-description="1950">
			<span class="year">P_04</span>
			<span class="label">leaf blower</span>
		</div>
		<input type="radio" name="timeline-dot" data-description="1960">
		<div class="dot-info" data-description="1960">
			<span class="year">P_05</span>
			<span class="label">magnetic stripe card</span>
		</div>
		<input type="radio" name="timeline-dot" data-description="1970">
		<div class="dot-info" data-description="1970">
			<span class="year">Q_01</span>
			<span class="label">wireless LAN</span>
		</div>
		<input type="radio" name="timeline-dot" data-description="1980">
		<div class="dot-info" data-description="1980">
			<span class="year">P_06</span>
			<span class="label">flash memory</span>
		</div>
		<input type="radio" name="timeline-dot" data-description="1990">
		<div class="dot-info" data-description="1990">
			<span class="year">1990</span>
			<span class="label">World Wide Web</span>
		</div>
		<input type="radio" name="timeline-dot" data-description="2000">
		<div class="dot-info" data-description="2000">
			<span class="year">2000</span>
			<span class="label">DAI signée et validée</span>
		</div>
		<div id="timeline-descriptions-wrapper">
			<p data-description="01">Création DAI Robot BJ</p>
			<p data-description="02">Because every kid should get to be Tarzan for a day.</p>
			<p data-description="03">And the world rejoiced.</p>
			<p data-description="04">Because building roads is inconvenient.</p>
			<p data-description="05">Ain’t nobody got time to rake.</p>
			<p data-description="06">Because paper currency is for noobs.</p>
			<p data-description="07">Nobody likes cords. Nobody.</p>
			<p data-description="08">Brighter than glow memory.</p>
			<p data-description="09">To capitalize on an as-yet nascent market for cat photos.</p>
			<p data-description="10">Because organic search rankings take work.</p>
		</div>
	</div>
</div>




<div style="position: absolute; bottom: 15px; right: 10px; font-size: 12px">
	<a href="https://codepen.io/cjl750/pen/mXbMyo" target="_blank">based off of version 3</a></div>