<p style="color: green"><%= notice %></p>

<h1>Empids !!!!!!!!!!!!</h1>

<div id="empids">
  <% @empids.each do |empid| %>
    <%= render empid %>
    <p>
      <%= link_to "Show this empid", empid %>
    </p>
  <% end %>
</div>

<%= link_to "New empid", new_empid_path %>
