<h1>Editing ntnsiteid</h1>

<%= render "form", ntnsiteid: @ntnsiteid %>

<br>

<div>
  <%= link_to "Show this ntnsiteid", @ntnsiteid %> |
  <%= link_to "Back to ntnsiteids", ntnsiteids_path %>
</div>
